* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

table {
    height: 100vh;
    width: 100%;
    vertical-align: top;
    border-collapse: collapse;
}

.list-panel {
    width: 20%;
    padding: 0;
    border: 1px solid #ccc;
    vertical-align: top;
    background-color: #efefef;
    user-select: none;
}

.detail-panel {
    padding: 0 1%;
    width: 75%;
    border: 1px solid #ccc;
    vertical-align: top;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin: 0;
    width: 100%;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 6%;
    cursor: pointer;
    transition: all 0.2s;
}

li:hover{
    background-color: #888;
    color:#fff;
}